<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Campus Match</string>
  <key>CFBundleIdentifier</key>
  <string>jp.example.campusmatch</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>プロフィール写真を選択するために写真ライブラリを使用します。</string>
  <key>NSCameraUsageDescription</key>
  <string>プロフィール写真を撮影するためにカメラを使用します。</string>
</dict>
</plist>
